# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (MySQL Local)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=hackaton_db


# Frontend Domain (para códigos QR)
DOMINIO=https://www.tienda.com

# JWT Configuration
JWT_SECRET=your-secret-key-change-this-in-production
JWT_EXPIRES_IN=24h

# CORS Configuration
CORS_ORIGIN=http://localhost:3000


STRIPE_PUBLIC_KEY=pk_test_51SQv503VZdX7DYMcEwnvNtc9JCLpdKaTeaeTx620uCHK2lULRvfAOxfH7UPnki8934q0WO9AZ0R8bEYZ8D9OkzDM00O6sfadKs
STRIPE_SECRET_KEY=sk_test_51SQv503VZdX7DYMctLTVqoTon0NzkEoHVbCMctPbTFbTHQCQWLoR5OGTf4FFZ6YdLlM0A0oQ1P09egg7uSFsVmdg007bQOI4c3
STRIPE_WEBHOOK_SECRET=whsec_4b62ec7f358c1b6b7849e0d34c2c3964f11d5964a06ee8312e0fdb851b05fe4a